<h1>{{msg}}</h1>
<p>{{descricao}}</p>


<!-- Forma recomendada do data binding de propriedade -->
<img [src]="img" alt="">

<!-- Mas dessa forma tambem funciona -->
<!-- <img src="{{img}}" alt=""> -->

<hr>
<h1>{{msgDois}}</h1>
<p>{{descricaoDois}}</p>
<button type="button" (click)="clicou()">Clique Aqui</button>

<hr>
<h1>Exibindo objetos</h1>
<p><strong>Nome: </strong>  {{pessoa.nome}}  </p>
<p><strong>Idade: </strong> {{pessoa.idade}} </p>

<hr>
<h1>Diretivas</h1>
<h2>Diretiva ngIf - Executa uma decisão no html</h2>
<p>ngIf - Estrutura de decisao</p>
<p>Ex:</p>

<p *ngIf="pessoa.idade >= 18">{{pessoa.nome}}</p>

<hr>

<p>ngFor - Estrutura de repetição</p>
<p>Ex:</p>

<div *ngFor="let daniel of pessoaCaixa">
    <hr>
    <p><strong>Nome: </strong>{{daniel.nome}}</p>
    <p><strong>Idade: </strong>{{daniel.idade}}</p>
    <p><strong>Altura: </strong>{{daniel.altura}}</p>
</div>







